<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class="bg-dark">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="top:115px">
            <div class="alert alert-success">
                <h5 class="text-center" th:text="${msg}"></h5>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</div>
</body>
</html>