<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class="bg-dark">
<!--==============================================-->
<div class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card" style="top:100px">
                    <div class="card-header"><h5 class="text-center">Complaint Form</h5></div>
                    <div class="card-body">
                        <form th:if="${dispenser}" action="/fileComplain" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Serial No.</label>
                                        <input type="text" name="serialNumber" required class="form-control" readonly th:value="${dispenser.serialNumber}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Location</label>
                                        <textarea class="form-control" name="address" required readonly  rows="2" th:text="${dispenser.address}"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Problem</label>
                                        <select class="form-control" name="problem" required>
                                            <option value="">--Select--</option>
                                            <option>Broken</option>
                                            <option>Stucked</option>
                                            <option>Blank</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" name="description" required  rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-success btn-block">
                                </div>
                            </div>
                        </form>
                        <h1 th:if="${msg}" th:text="${msg}"></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
</body>
</html>